{
  "parser": "@typescript-eslint/parser",

  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },

  "plugins": ["jest", "prettier", "@typescript-eslint"],

  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "prettier"
  ],

  "rules": {
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "no-prototype-builtins": "off",
    "no-void": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "prettier/prettier": "error",
    "class-methods-use-this": "off",
    "prefer-destructuring": "warn",
    "consistent-return": "off",
    "import/prefer-default-export": "off",
    "no-continue": "off",
    "no-return-assign": "off",
    "no-sequences": "off",
    "no-unused-vars": "warn",

    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  },

  "env": {
    "jest/globals": true
  }
}
