/* Copied from the origin (https://github.com/artalar/mono) for fast interaction and fixing. Reatom docs is a good playground form mono. */

/* Default case - prefers-color-scheme not supported or not selected */
:root {
  --fg-default-light: #303050;
  --bg-default-light: #fefeff;
  --fg1-default-light: #050010;
  --bg1-default-light: #f5f5f9;
  --code-filter-default-light: invert(1) hue-rotate(240deg) contrast(1.2)
    saturate(135%);

  --fg-default-dark: #b6b5be;
  --bg-default-dark: #111117;
  --fg1-default-dark: #f9f9ff;
  --bg1-default-dark: #202027;
  --code-filter-default-dark: none;

  --fg: var(--fg-default-light);
  --bg: var(--bg-default-light);
  --fg1: var(--fg1-default-light);
  --bg1: var(--bg1-default-light);
  --code-filter: var(--code-filter-default-light);
  --line-height: 1.85rem;
}

[data-theme='dark'] {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: var(--fg-default-dark);
    --bg: var(--bg-default-dark);
    --fg1: var(--fg1-default-dark);
    --bg1: var(--bg1-default-dark);
    --code-filter: var(--code-filter-default-dark);
  }

  [data-theme='light'] {
    display: none;
  }
  [data-theme='dark'] {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --fg: var(--fg-default-light);
    --bg: var(--bg-default-light);
    --fg1: var(--fg1-default-light);
    --bg1: var(--bg1-default-light);
    --code-filter: var(--code-filter-default-light);
  }

  [data-theme='light'] {
    display: block;
  }
  [data-theme='dark'] {
    display: none;
  }
}

html {
  font-size: max(14px, calc(0.4vw + 0.8em));
}

.mono-all,
.mono-all *,
.mono-all *:before,
.mono-all *:after {
  color: var(--fg);
  font-family: 'Roboto', sans;
  line-height: var(--line-height);
  box-sizing: border-box;
  background-color: var(--bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mono-all *:focus {
  outline: 0.05rem dashed var(--fg1);
}

.mono-all *::selection {
  color: var(--bg);
  background-color: var(--fg);
}

.mono-all a {
  text-decoration: none;
  border-bottom: 0.15rem solid var(--fg);
}

.mono-all a:hover {
  border-color: var(--fg1);
}

a.current {
  border-bottom: 0.25rem solid var(--fg1);
}

.mono-all b {
  font-weight: bold;
}

body.mono-all,
.mono-all body {
  margin: 0;
  position: relative;
  min-width: min(calc(100vw + 20rem), 85rem);
  scroll-snap-type: x mandatory;
  display: flex;
}

.mono-all main {
  scroll-snap-align: start;
  margin: auto;
  width: min(100vw, 65rem);
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.mono-all aside {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 20rem;
  min-width: 20rem;
  max-width: 20rem;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 1rem;
  border-right: 1px solid var(--bg1);
  opacity: 0.7;
}

/* TODO: stick it bottom */

.mono-all footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 1rem;
  border-top: 1px solid var(--fg);
}

.mono-all blockquote {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--bg1);
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
  border-end-start-radius: 1rem;
}
.mono-all blockquote * {
  background-color: var(--bg1);
}
.mono-all blockquote::before {
  content: 'ℹ';
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: var(--line-height);
  height: var(--line-height);
  text-align: center;
  background-color: var(--bg1);
}

.mono-all :not(pre) > code {
  font-family: 'Roboto Mono', monospace;
  padding: 0.15rem 0.45rem 0.25rem 0.35rem;
  border-radius: 0.25em;
  background-color: var(--bg1);
  color: var(--fg1);
  font-size: 0.9em;
}

.mono-all details {
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0.5rem;
  border: 0.15rem solid var(--fg);
  border-radius: 0.5rem;
}

.mono-all h1,
.mono-all h2,
.mono-all h3,
.mono-all h4 {
  margin: 3rem 0 1rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: var(--fg1);
}

.mono-all h1 {
  margin-top: 2rem;
  font-size: 2.2em;
}

.mono-all h2 {
  font-size: 1.6em;
}

.mono-all h3 {
  font-size: 1.2em;
}

.mono-all fieldset {
  border: 1px solid var(--fg);
}

.mono-all legend {
  font-size: 1.4em;
}

.mono-all li {
  list-style: none;
  padding: 0.5em;
  padding-left: 1em;
  background-color: var(--bg1);
  background: linear-gradient(90deg, var(--bg1) 0%, var(--bg) 100%);
  /* border-start-start-radius: 0.5rem;
  border-end-start-radius: 0.5rem; */
  border-radius: 0.5rem;
}
.mono-all li.current {
  background: var(--bg1);
}
.mono-all li * {
  background-color: transparent;
}

.mono-all p:before {
  width: 1.5rem;
  display: inline-block;
}

.mono-all pre {
  position: relative;
  flex-shrink: 0;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  overflow-x: scroll;
  line-height: calc(var(--line-height) * 0.9);
  border-radius: 8px;
  font-family: 'Roboto Mono', monospace;
  border: 1px dashed;

  filter: var(--code-filter);
}

.mono-all pre,
.mono-all pre * {
  line-height: calc(var(--line-height) * 0.9);
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
}

.mono-all strong {
  font-weight: bold;
}

.mono-all summary {
  list-style: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0 0.5rem;
}

.mono-all table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.mono-all td,
.mono-all th {
  border-top: 0.5rem solid var(--fg);
  padding: 0 1rem;
}

.mono-all ul {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
