---
import Sidebar from '../components/Sidebar.astro'
import CurrentLinkHighlight from '../components/CurrentLinkHighlight.astro'
import HeadingCopyButton from '../components/HeadingCopyButton.astro'
import Glitch from '../components/Glitch.astro'

const {
  frontmatter: { title = '404', description } = {} as Record<string, string>,
} = Astro.props

const DEFAULT_MAIN = '#0e1117'
const DEFAULT_BACK = '#e0deed'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    {description ? <meta name="description" content={description} /> : null}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles/mono.css" />
    <style
      is:global
      define:vars={{
        'mono-main-default': DEFAULT_BACK,
        'mono-back-default': DEFAULT_MAIN,
      }}
    >
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

      html {
        font-size: calc(0.3vw + 0.7em);
      }

      body {
        --mono-main: var(--mono-back-default);
        --mono-back: var(--mono-main-default);
      }

      @media (prefers-color-scheme: light) {
        body {
          --mono-main: var(--mono-back-default);
          --mono-back: var(--mono-main-default);
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          --mono-main: var(--mono-main-default);
          --mono-back: var(--mono-back-default);
        }
      }

      pre.mono,
      .mono-all pre {
        --mono-main: var(--mono-main-default);
        --mono-back: var(--mono-back-default);
      }

      pre.mono,
      pre.mono *,
      .mono-all pre,
      .mono-all pre * {
        background-color: transparent !important;
      }

      @media (prefers-color-scheme: light) {
        pre.mono,
        .mono-all pre {
          filter: invert(0.95) hue-rotate(240deg) contrast(1.1);
        }
      }
    </style>
  </head>
  <body class="mono-all">
    <script>
      const remSize = new URLSearchParams(document.location.search).get(
        '__remSize',
      )
      if (remSize) document.documentElement.style.fontSize = remSize
    </script>
    <Sidebar />
    <main>
      <!-- <nav style={`
        position: sticky;
        top: 0;
        --mono-main: var(--mono-back);
        --mono-back: var(--mono-switch);
        z-index: 1;
      `}>
        <a href="#nav-general">nav</a>
      </nav> -->
      <h1>{title}</h1>
      <slot />
      <footer>
        <a href="https://github.com/artalar/reatom" target="_blank">github</a>
      </footer>
    </main>
    <script>
      document.querySelector('main')?.scrollIntoView()
    </script>
    <CurrentLinkHighlight />
    <HeadingCopyButton />
    <Glitch />
    <script defer src="/_vercel/insights/script.js"></script>
    <script>
      requestAnimationFrame(() =>
        navigator.serviceWorker
          ?.register('/sw.js')
          .catch((error) => console.log(error)),
      )
    </script>
  </body>
</html>
