a {
  text-decoration: none;
  border-bottom: 0.15rem solid var(--fg);
}

a:hover,
a.current {
  border-bottom: 0.25rem solid var(--fg1);
}

b {
  font-weight: bold;
}

body {
  margin: 0;
  display: flex;
  padding-top: var(--header-height);
}

aside {
  display: flex;
  flex-direction: column;
  width: var(--aside-width);
  min-width: var(--aside-width);
  max-width: var(--aside-width);
  max-height: calc(100vh - var(--header-height));
  overflow-y: scroll;
  padding: 1rem;
  opacity: 0.8;
}

main {
  margin: auto;
  width: min(100vw, 55rem);
  max-width: 55rem;
  max-height: calc(100vh - var(--header-height));
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

/* TODO: stick it bottom */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 1rem;
  border-top: 1px solid var(--fg);
}

blockquote {
  position: relative;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--bg1);
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
  border-end-start-radius: 1rem;
}
blockquote * {
  background-color: var(--bg1);
}
blockquote::before {
  content: 'ℹ';
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: var(--line-height);
  height: var(--line-height);
  text-align: center;
  background-color: var(--bg1);
}

:not(pre) > code {
  font-family: 'Roboto Mono', monospace;
  padding: 0.15rem 0.45rem 0.25rem 0.35rem;
  border-radius: 0.25em;
  background-color: var(--bg1);
  color: var(--fg1);
  font-size: 0.9em;
}

details {
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0.5rem;
}
nav > details {
  margin-left: 0;
}

h1,
h2,
h3,
h4 {
  margin: 3rem 0 1rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: var(--fg1);
}

h1 {
  margin-top: 2rem;
  font-size: 2.2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

fieldset {
  border: 1px solid var(--fg);
}

legend {
  font-size: 1.4em;
}

li {
  list-style: none;
  padding: 0.5em;
  padding-left: 1em;
  background-color: var(--bg1);
  background: linear-gradient(45deg, var(--bg1) 0%, var(--bg) 100%);
  border-radius: 0.5rem;
}
li.current {
  background: var(--bg1);
}
li * {
  background-color: transparent;
}

p:before {
  width: 1.5rem;
  display: inline-block;
}

pre {
  position: relative;
  flex-shrink: 0;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  overflow-x: scroll;
  line-height: calc(var(--line-height) * 0.9);
  border-radius: 8px;
  font-family: 'Roboto Mono', monospace;
  border: 1px dashed;

  filter: var(--code-filter);
}

pre,
pre * {
  line-height: calc(var(--line-height) * 0.9);
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
}

strong {
  font-weight: bold;
}

summary {
  list-style: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0 0.5rem;
}

table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

td,
th {
  border-top: 0.5rem solid var(--fg);
  padding: 0 1rem;
}

ul {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
nav > ul {
  padding-left: 0;
}
details > ul {
  padding-left: 0.5rem;
}
