---
// FIXME https://discord.com/channels/830184174198718474/845451724738265138/1019770939203915786
// const readmes = await Astro.glob('../../../packages/*/README.md')
// console.log('readmes', readmes)
import NavSection from './NavSection.astro'
const pages = await Astro.glob('../pages/*.md')
const general = await Astro.glob('../pages/general/*.md')
const guides = await Astro.glob('../pages/guides/*.md')
const packages = (await Astro.glob('../pages/packages/*.md')).sort((a) =>
  a.frontmatter.title === 'core' ? -1 : 1,
)

const sections = [
  {
    name: 'guides',
    open: false,
    pages: guides,
  },
  {
    name: 'general',
    open: false,
    pages: general,
  },
  {
    name: 'packages',
    open: true,
    pages: packages,
  },
]
---

<aside>
  <nav id="nav-main" aria-label="main">
    <ul>
      {
        pages
          .sort(({ frontmatter: { title } }) => (title === 'Main' ? -1 : 1))
          .map(({ url, frontmatter }) => (
            <li>
              <a href={url || '/'}>{frontmatter.title}</a>
            </li>
          ))
      }
      <li>
        <a href="https://github.com/artalar/reatom" target="_blank">Github</a>
      </li>
    </ul>
  </nav>
  {sections.map((section) => <NavSection section={section} />)}
</aside>
