---
// FIXME https://discord.com/channels/830184174198718474/845451724738265138/1019770939203915786
// const readmes = await Astro.glob('../../../packages/*/README.md')
// console.log('readmes', readmes)

import NavSection from './NavSection.astro'
const pages = await Astro.glob('../pages/*.md')
const general = await Astro.glob('../pages/general/*.md')
const guides = await Astro.glob('../pages/guides/*.md')
const packages = (await Astro.glob('../pages/packages/*.md')).sort((a) =>
  a.frontmatter.title === 'core' ? -1 : 1,
)

const packageTypes = {
  compat: ['core-v1', 'core-v2', 'react-v1', 'react-v2'],
  adapter: ['npm-cookie-baker', 'npm-history', 'npm-react', 'npm-svelte'],
}

const sections = [
  {
    name: 'guides',
    open: false,
    pages: guides,
  },
  {
    name: 'general',
    open: false,
    pages: general,
  },
  {
    name: 'adapters',
    open: false,
    pages: packages.filter((page) =>
      packageTypes.adapter.includes(page.frontmatter.title),
    ),
  },
  {
    name: 'packages',
    open: true,
    pages: packages.filter(
      (page) =>
        !packageTypes.adapter.includes(page.frontmatter.title) &&
        !packageTypes.compat.includes(page.frontmatter.title),
    ),
  },
  {
    name: 'compat',
    open: false,
    pages: packages.filter((page) =>
      packageTypes.compat.includes(page.frontmatter.title),
    ),
  },
]
---

<aside>
  <nav id="nav-main" aria-label="main">
    <ul>
      {
        pages
          .sort(({ frontmatter: { title } }) => (title === 'Main' ? -1 : 1))
          .map(({ url, frontmatter }) => (
            <li>
              <a href={url || '/'} class="menu-link">
                {frontmatter.title}
              </a>
            </li>
          ))
      }
    </ul>
  </nav>
  {sections.map((section) => <NavSection section={section} />)}
</aside>

<style is:global>
  .menu-link,
  .menu-link:hover,
  .menu-link.current {
    border: none;
    display: inline-flex;
    width: 100%;
    padding: 0.5em;
    padding-left: 1em;
  }

  nav li {
    background: transparent;
    padding: 0;
    transition: background 0.3s ease-in-out;
  }
  nav li:hover {
    background-color: var(--bg1);
  }
</style>
