:root {
  --theme-color: #141134;
  --color-link: #106ebc;
  --color-link-hover: #f00;
}

.app-name img {
  max-width: 200px;
}

.markdown-section code  {
  font-size: inherit;
}

.markdown-section a {
  font-weight: inherit;
  text-decoration: none;
  color: var(--color-link);
  transition: .1s
}

.markdown-section a:hover {
  color: var(--color-link-hover);
}

.markdown-section pre {
  box-shadow: 0 0 10px #ccc;
  background: none;
  padding: 0 1rem;
}

.markdown-section pre > code {
  font-size: 1em;
  line-height: 1.4;
  background: inherit;
  padding: 1rem 0;
  color: var(--theme-color);
}

.markdown-section code,
.token.function, .token.keyword {
  color: #3c699e;
}

h3 .anchor {
  font-weight: normal;
}

.token.number,
.token.boolean,
.token.string {
  color: #c76b29;
}

.sidebar .sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 120px;
  bottom: 0;
  width: 100%;
  padding-bottom: 0;
}

.stars {
  padding: 20px 15px 40px;
  border-top: 1px solid rgba(0,0,0,.07);
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.stars__button {
  margin-top: 5px;
}
